<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <borisperevyazko_googlemarkup>
            <general>
                <enable>1</enable>
            </general>
            <product>
                <show_offer>1</show_offer>
                <show_rating>1</show_rating>
            </product>
        </borisperevyazko_googlemarkup>
    </default>
</config>